<!-- <div class="circle" [ngStyle]="{'background-color':  circleColor }"> -->
<div class="circle">
    <img *ngIf="!showInitials" src="{{photoUrl}}" class="avatar" [matMenuTriggerFor]="menu">
    <div *ngIf="showInitials" class="initials" [matMenuTriggerFor]="menu">
        {{ initials }}
    </div>
</div>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="userDetails()">
        <mat-icon>account_circle</mat-icon>
        <span>Account</span>
    </button>
    <button mat-menu-item (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
        <span>Sign Out</span>
    </button>
</mat-menu>