<div class="control-box p-3 control-box-b">
    <form class="userdetails-form" [formGroup]="userDetailsForm"
       (ngSubmit)="onSubmitUpdateUserDetails(userDetailsForm.value)">            
    <table class="full-width" cellspacing="0">
        <tr>               
            <td>
               <div class="container">
                   <div class="outer">
                       <img class="rounded-circle z-depth-2" [src]="PhotoFilePath" height="100px;" width="100px;">                                    
                       <div class="inner">
                           <label for="file-upload">
                               <i class="fas fa-upload"></i><input id="file-upload" type="file" (change)="uploadPhoto($event)"/>
                           </label>
                       </div>
                   </div>
                 </div>
            </td>
        </tr>                     
    </table>
    <table class="full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="full-width">
                    <mat-label>First name</mat-label>
                    <input matInput formControlName="firstName" [(ngModel)]="loginUser.details.firstName" required>
                    <mat-error *ngFor="let validation of validation_messages.firstName">
                        <mat-error class="error-message"
                            *ngIf="userDetailsForm.get('firstName').hasError(validation.type) && 
                                    (userDetailsForm.get('firstName').dirty || userDetailsForm.get('firstName').touched)">
                            {{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="full-width">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName"[(ngModel)]="loginUser.details.lastName" required>
                    <mat-error *ngFor="let validation of validation_messages.lastName">
                        <mat-error class="error-message"
                            *ngIf="userDetailsForm.get('lastName').hasError(validation.type) && 
                                        (userDetailsForm.get('lastName').dirty || userDetailsForm.get('lastName').touched)">
                            {{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>
            </td>
        </tr>
    </table>
    <p>
        <mat-form-field class="full-width">
            <mat-label>Address 1</mat-label>
            <textarea matInput formControlName="address1" [(ngModel)]="loginUser.address.address1" placeholder="Ex. 100 Main St"
                required>1600 Amphitheatre Pkwy</textarea>
            <mat-error *ngFor="let validation of validation_messages.address1">
                <mat-error class="error-message"
                    *ngIf="userDetailsForm.get('address1').hasError(validation.type) && 
                            (userDetailsForm.get('address1').dirty || userDetailsForm.get('address1').touched)">
                    {{validation.message}}</mat-error>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Address 2</mat-label>
            <textarea matInput formControlName="address2" [(ngModel)]="loginUser.address.address2" ></textarea>
        </mat-form-field>
    </p>
    <table class="full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="full-width">
                    <mat-label>City</mat-label>
                    <input matInput formControlName="city" [(ngModel)]="loginUser.address.city" placeholder="Ex. Waterloo" required>
                    <mat-error *ngFor="let validation of validation_messages.city">
                        <mat-error class="error-message"
                            *ngIf="userDetailsForm.get('city').hasError(validation.type) && 
                                    (userDetailsForm.get('city').dirty || userDetailsForm.get('city').touched)">
                            {{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>
            </td>
            <td>                      
                <mat-form-field class="full-width select-bg" >
                      <mat-label>Province</mat-label>
                      <mat-select formControlName="province" [(ngModel)]="loginUser.address.provinceId">
                          <mat-option>Select</mat-option>
                          <mat-option *ngFor="let province of ProvinceList" [value]="province.id">{{province.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="full-width">
                    <mat-label>Postal Code</mat-label>
                    <input matInput formControlName="postalCode" [(ngModel)]="loginUser.address.postalCode" maxlength="6" placeholder="Ex. A2A2A2"
                        required  (focusout)="formattedPostalCode()">
                    <mat-error *ngFor="let validation of validation_messages.postalCode">
                        <mat-error class="error-message"
                            *ngIf="userDetailsForm.get('postalCode').hasError(validation.type) && 
                                      (userDetailsForm.get('postalCode').dirty || userDetailsForm.get('postalCode').touched)">
                            {{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="full-width">
                    <mat-label>Phone</mat-label>
                    <input matInput formControlName="phone" [(ngModel)]="loginUser.details.phone" placeholder=""  
                    (focusout)="formattedPhone()" required value="1112223333">
                    <mat-error *ngFor="let validation of validation_messages.phone">
                        <mat-error class="error-message"
                            *ngIf="userDetailsForm.get('phone').hasError(validation.type) && 
                                      (userDetailsForm.get('phone').dirty || userDetailsForm.get('phone').touched)">
                            {{validation.message}}</mat-error>
                    </mat-error>
                    <mat-icon matSuffix>phone</mat-icon>
                </mat-form-field>
            </td>
        </tr>
    </table>
    <div class="col-md-3">
    <button mat-raised-button color="warn" type="submit" class="login-button"
        [disabled]="!userDetailsForm.valid">Update</button> 
    </div>
</form>
   </div>