<!-- Toolbar -->
<mat-toolbar color="primary" class="header-bg">
  <div fxHide.gt-sm>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div><a href="/home" class="logo">PRS</a></div>

  <span class="search-spacer"></span>

  <!-- Search start -->
  <div class="col-8" fxShow fxHide.lt-md>
    <div fxFlex fxLayout fxLayoutAlign="center center">
      <form class="form-inline" (keydown)="onKeyDown($event, search, selectedCity, selectedCategoryId)">
        <div class="input-group">
          <input
            type="text"
            name="search"
            [(ngModel)]="search"
            class="form-control"
            placeholder="Search"
            aria-label="Search"
            aria-describedby="basic-addon2"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary"
              type="button"
              (click)="onSearch(search, selectedCity, selectedCategoryId)"
            >
              <i class="fa fa-search fa-xs"></i>
            </button>
          </div>
        </div>
        <span class="mr-2"></span>
        <div class="input-group">
          <select class="form-control" name="selectedCategoryId" [(ngModel)]="selectedCategoryId">
            <option *ngFor="let category of categoryList" [value]="category.categoryId">
              {{ category.name }}
            </option>
          </select>
        </div>
        <span class="mr-2"></span>
        <div class="input-group">
          <select class="form-control" name="selectedCity" [(ngModel)]="selectedCity">
            <option *ngFor="let city of cityList" [value]="city">
              {{ city }}
            </option>
          </select>
        </div>
      </form>
    </div>
  </div>
  <!-- Search end -->

  <span class="search-spacer"></span>

  <div fxFlex fxLayout fxLayoutAlign="end" fxShow fxHide.lt-sm>
    <ng-template [ngIf]="userName">
      <button
        mat-raised-button
        color="primary"
        matBadge="{{ notificationCount }}"
        matBadgeColor="accent"
        [routerLink]="notificationCount > 0 ? ['/my-list'] : ['/my-borrow']"
      >
        My Space
      </button>
    </ng-template>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items pl-3">
      <li>
        <a mat-mini-fab routerLink="/post" class="fab-color-post">Post</a>
      </li>
      <li>
        <a mat-mini-fab routerLink="/ask" class="fab-color-ask">Ask</a>
      </li>
      <ng-template [ngIf]="userName" [ngIfElse]="logIn">
        <li>
          <app-avatar [photoUrl]="photoUrl" [name]="userName"></app-avatar>
        </li>
      </ng-template>
      <ng-template #logIn>
        <li>
          <button mat-button color="accent" (click)="openLogin()">Login/Register</button>
        </li>
      </ng-template>
    </ul>
  </div>
</mat-toolbar>
