a {
  text-decoration: none;
  color: #ffd500;
  // font-size: 16px;
}
.logo {
  color: #fad02c;
}

.header-bg {
  background-color: #00296b;
  // background-color1: #4a148c;
}
.font-blue {
  color: #3f51b5 !important;
}

.loginName {
  font-size: 14px;
  padding-top: 2px;
}

a:hover,
a:active {
  color: rgb(241, 237, 237);
  text-shadow: rgb(209, 248, 118);
}

.navigation-items {
  list-style-type: none;
  padding-top: 0;
  margin: 0;
}
.no-padding-badge {
  width: 2px;
}
.fab-color-post {
  // background-color: rgb(229, 248, 118);
  background-color: rgb(209, 248, 118);
  color: black;
  width: 43px;
  height: 40px;
  font-weight: 500;
}
.fab-color-ask {
  // background-color: rgb(118, 248, 242);
  background-color: #ffe5ec;
  color: black;
  width: 43px;
  height: 40px;
  font-weight: 500;
}

.mat-mini-fab.fab-color-post:hover {
  color: #070344;
  background-color: #ffbc0a;
}

.mat-mini-fab.fab-color-ask:hover {
  color: #f8f8f8;
  background-color: #d6138c;
}

.mat-badge-content {
  color: yellow;
}

mat-toolbar {
  border-radius: 3px;
}

mat-button {
  background-color: rgb(16, 122, 16) !important;
}

/* Search */
.search-spacer {
  flex: 1 1 auto;
}

/* Search */
@media (max-width: 959px) {
  mat-toolbar {
    border-radius: 0px;
  }
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.bg-light {
  background-color: #4a148c !important;
}

.search-color {
  border-color: rgb(138 143 183 / 75%);
}
