<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <div mat-dialog-content>
    <h1 mat-dialog-title>SignIn</h1>
    <form [formGroup]="registerForm" (ngSubmit)=" onSubmitRegister(registerForm.value)">
      <mat-form-field class="full-width">
        <input matInput type="email" placeholder="Email" formControlName="email" required>
        <mat-error *ngFor="let validation of account_validation_messages.email">
          <mat-error class="error-message" *ngIf="registerForm.get('email').hasError(validation.type) && 
                      (registerForm.get('email').dirty || registerForm.get('email').touched)">
            {{validation.message}}</mat-error>
        </mat-error>
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>

      <div formGroupName="matching_passwords">
        <mat-form-field class="full-width">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error *ngFor="let validation of account_validation_messages.password">
            <mat-error class="error-message" *ngIf="registerForm.get('matching_passwords').get('password').hasError(validation.type) && 
                          (registerForm.get('matching_passwords').get('password').dirty || 
                          registerForm.get('matching_passwords').get('password').touched)">
              {{validation.message}}</mat-error>
          </mat-error>
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput type="password" placeholder="Confirm Password" formControlName="confirm_password"
            [errorStateMatcher]="parentErrorStateMatcher" required>
          <mat-error *ngFor="let validation of account_validation_messages.confirm_password">
            <mat-error class="error-message" *ngIf="(registerForm.get('matching_passwords').get('confirm_password').hasError(validation.type)|| 
                          registerForm.get('matching_passwords').hasError(validation.type)) && 
                          (registerForm.get('matching_passwords').get('confirm_password').dirty || 
                          registerForm.get('matching_passwords').get('confirm_password').touched)">
              {{validation.message}}</mat-error>
          </mat-error>
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
      </div>
      <button mat-raised-button color="warn" type="submit" class="login-button" [disabled]="!registerForm.valid">Sign In</button>
    </form>
  </div>
</div>