<!-- <form [formGroup]="form">
    <div class="editor">
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
        </ngx-editor-menu>
        <ngx-editor [editor]="editor" formControlName="editorContent">
        </ngx-editor>
    </div>
</form> -->

<div class="container">
  <div class="content">
    <div class="display"></div>

    <form [formGroup]="form">
      <div class="editor NgxEditor__Wrapper">
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
        <ngx-editor
          [editor]="editor"
          [(ngModel)]="editordoc"
          formControlName="editorContent"
          (ngModelChange)="onChange()"
        >
          <!-- <ngx-editor-floating-menu [editor]="editor"></ngx-editor-floating-menu> -->
        </ngx-editor>
      </div>
    </form>

    <!-- <div class="editor">
        <ngx-editor [editor]="editor" [(ngModel)]="editordoc">
        </ngx-editor>
      </div> -->

    <!-- custom menu -->
    <ng-template #customMenu>
      <app-custom-menu [editor]="editor"></app-custom-menu>
    </ng-template>
  </div>
</div>
