<mat-toolbar>
    <mat-toolbar-row>
        <h2> PRS </h2>
    </mat-toolbar-row>
</mat-toolbar>
<mat-nav-list>
    <h2 matSubheader> <mat-icon>account_circle</mat-icon>Hello, HK</h2>

    <div mat-card-avatar class="example-header-image"></div>
    <a mat-list-item routerLink="/main" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon><span class="nav-caption">Main</span>
    </a>
    <div mat-list-item >
        <form class="form-inline flex-nowrap bg-light mx-0 mx-lg-auto rounded p-1">  
            <input name="value" [(ngModel)]="value" class="form-control"
            class="form-control mr-sm-1" type="search" style="font-style: italic;width: 200px;" placeholder="Search" aria-label="Search">
            <button type="button" class="btn btn-info" (click)="onSearch(value)"><i class="fa fa-search"></i></button>    
        </form>  
    </div>
    <a mat-list-item routerLink="/post" (click)="onSidenavClose()">
        <mat-icon>add_circle</mat-icon><span class="nav-caption">Post</span>
    </a>
    <a mat-list-item routerLink="#" (click)="onSidenavClose()">
        <mat-icon>account_balance</mat-icon><span class="nav-caption">Account Actions</span>
    </a>
    <mat-list-item [matMenuTriggerFor]="menu">
        <mat-icon>unfold_more</mat-icon>
        <a matline>Login/Register</a>
    </mat-list-item>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onSidenavClose()">Losgin</button>
        <button mat-menu-item (click)="onSidenavClose()">Register</button>
    </mat-menu>
</mat-nav-list>