<mat-nav-list>
    <div mat-card-avatar class="example-header-image"></div>
    <a mat-list-item routerLink="/main" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon><span class="nav-caption">Main</span>
    </a>
    <a mat-list-item routerLink="/post" (click)="onSidenavClose()">
        <mat-icon>assignment_ind</mat-icon><span class="nav-caption">menu1</span>
    </a>
    <a mat-list-item routerLink="#" (click)="onSidenavClose()">
        <mat-icon>account_balance</mat-icon><span class="nav-caption">Account Actions</span>
    </a>
    <!-- <mat-list-item [matMenuTriggerFor]="menu">
        <mat-icon>unfold_more</mat-icon>
        <a matline>Example</a>
    </mat-list-item>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onSidenavClose()">View profile</button>
        <button mat-menu-item (click)="onSidenavClose()">Add contact</button>
    </mat-menu> -->
</mat-nav-list> 