<div class="container mt-3">
  <div class="d-flex flex-row flex-wrap">
    <div class="col-md-9 p-0 mb-3">
      <div class="card item-card shadow-sm bg-white m-1">
        <div class="card-header">
          <h2>{{ title }}</h2>
        </div>
        <div class="row mb-3" *ngFor="let article of articles">
          <div class="card-body" *ngIf="article.id != rowId">
            <div class="chat">
              <ul class="chat__posts">
                <li>
                  <!-- <img src="../../assets/img/m_1.jpg" alt="avatar" class="photo"> -->
                  <img *ngIf="article.photoUrl" src="{{ filePath }}{{ article.photoUrl }}" class="photo" />
                  {{ article.userName }} Posted
                  {{ formatDate(article.date) }}
                  <div class="chat__posts__post__message">
                    <br />
                    <!-- <strong>{{ article.userName }}</strong> -->
                    <!-- <a class="chat__posts__post__mailto-user"> {{ article.email }}</a> -->
                    <!-- <span class="chat__posts__post__time">Posted {{ formatDate(article.date) }}</span> -->
                    <!-- <p class="chat__posts__post__content"> -->
                    {{ article.description }}
                    <mat-icon class="icon" style="float: right" *ngIf="userId === article.userId">edit</mat-icon>
                    <mat-icon class="icon" style="float: right" *ngIf="userId === article.userId"
                      >delete_forever</mat-icon
                    >

                    <!-- </p> -->
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-12 p-0 mb-3">
          <div c class="chat__editor">
            <app-editor height="100px" minHeight="50px"></app-editor>
            <!-- </div>

        <button class="chat-send" type="button">Send</button>
      </div> -->
          </div>
        </div>
        <div class="d-flex flex-row flex-wrap justify-content-end mb-2 mr-3">
          <button mat-stroked-button color="primary" class="mr-3" (click)="requestAskReply()">Reply</button>
          <button mat-stroked-button color="primary" (click)="onBack()">Back</button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row mb-3">
        <div class="col-md-12">
          <app-notification-list></app-notification-list>
          <!-- <div class="card">
            <div class="card-body"> -->
          <!-- <strong>
                <p>Notification</p>
              </strong> -->
          <!-- <ul class="list-unstyled">
                <a href="#">
                  <li>Reject</li>
                </a>
                <a href="#">
                  <li>Confirmed from Allison</li>
                </a>
                <a href="#">
                  <li>Digital Accuracy</li>
                </a>
                <a href="#">
                  <li>Digital Accuracy</li>
                </a>
                <a href="#">
                  <li>Digital Accuracy</li>
                </a>
                <a href="#">
                  <li>Digital Accuracy</li>
                </a>
              </ul> -->
          <!-- </div>
          </div> -->
        </div>
      </div>
      <!-- <div class="row mb-3">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <button type="button" class="btn btn-outline bg-orange btn-block">Contat Now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <button type="button" class="btn btn-outline bg-orange btn-block">Contat Now</button>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    </div>
  </div>
</div>
