.example-card {
    max-width: 400px;
    // max-height: 600px;
  }
  .userdetails-form {
    min-width: 150px;
    max-width: 600px;
    max-height: 500px;
    width: 100%;
  }
  
  .select-bg {
    background-color: white;
  } 

  .avatar-img{
    width: 60px;
    height: 60px;
  }