<div class="center-content">
  <h2 mat-dialog-title>{{ title }}</h2>
  <mat-dialog-content>
    <mat-form-field *ngIf="isRefund" style="width: 350px" appearance="outline">
      <label>Refund Deposit: </label>
      <input type="text" currencyMask [(ngModel)]="refundDeposit" />
    </mat-form-field>

    <mat-form-field style="width: 350px" appearance="outline">
      <textarea
        [(ngModel)]="reason"
        matInput
        rows="6"
        cols="40"
        placeholder="Please enter a reason"
        maxlength="250"
      ></textarea>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="col text-center">
      <button class="mat-raised-button mr-2" (click)="onCancel()">Cancel</button>
      <button class="mat-raised-button mat-primary" *ngIf="isRefund" (click)="onSubmit()">Submit</button>
      <button class="mat-raised-button mat-primary" *ngIf="!isRefund" [disabled]="!reason" (click)="onSubmit()">
        Submit
      </button>
    </div>
  </mat-dialog-actions>
</div>
