<div class="center-content">
    <h1 mat-dialog-title>Login / Register</h1>
    <div mat-dialog-content>
        <mat-tab-group>
            <mat-tab label="Login">
                <form [formGroup]="loginForm" (ngSubmit)=" onLogin(loginForm.value)">
                    <mat-form-field class="full-width">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="Email" formControlName="Email"
                            (keyup)="resetLoginError(false)">
                        <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder="Password" formControlName="Password">
                        <mat-icon matSuffix>lock</mat-icon>
                    </mat-form-field>
                    <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password</div>
                    <br>
                    <mat-checkbox class="remember-height">Remember Me!</mat-checkbox>
                    <button mat-button color="primary">Login</button>
                </form>
            </mat-tab>
            <mat-tab label="Register">
                <form [formGroup]="registerForm" (ngSubmit)=" onRegister(registerForm.value)">
                    <mat-form-field class="full-width">
                        <input matInput type="email" placeholder="Email" formControlName="email" required>
                        <mat-error *ngFor="let validation of account_validation_messages.email">
                            <mat-error class="error-message" *ngIf="registerForm.get('email').hasError(validation.type) && 
                                    (registerForm.get('email').dirty || registerForm.get('email').touched)">
                                {{validation.message}}</mat-error>
                        </mat-error>
                        <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>

                    <div formGroupName="matching_passwords">
                        <mat-form-field class="full-width">
                            <input matInput type="password" placeholder="Password" formControlName="password" required>
                            <mat-error *ngFor="let validation of account_validation_messages.password">
                                <mat-error class="error-message" *ngIf="registerForm.get('matching_passwords').get('password').hasError(validation.type) && 
                                        (registerForm.get('matching_passwords').get('password').dirty || 
                                        registerForm.get('matching_passwords').get('password').touched)">
                                    {{validation.message}}</mat-error>
                            </mat-error>
                            <mat-icon matSuffix>lock</mat-icon>
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <input matInput type="password" placeholder="Confirm Password"
                                formControlName="confirm_password" [errorStateMatcher]="parentErrorStateMatcher"
                                required>
                            <mat-error *ngFor="let validation of account_validation_messages.confirm_password">
                                <mat-error class="error-message" *ngIf="(registerForm.get('matching_passwords').get('confirm_password').hasError(validation.type)|| 
                                        registerForm.get('matching_passwords').hasError(validation.type)) && 
                                        (registerForm.get('matching_passwords').get('confirm_password').dirty || 
                                        registerForm.get('matching_passwords').get('confirm_password').touched)">
                                    {{validation.message}}</mat-error>
                            </mat-error>
                            <mat-icon matSuffix>lock</mat-icon>
                        </mat-form-field>
                    </div>
                    <button mat-button color="primary" class="login-button">Sign In</button>
                </form>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>