<mat-toolbar>
  <span>PRS</span>
  <span class="example-spacer"></span>
  <img class="rounded-circle z-depth-2" width="40px" height="40px" src="{{ photoUrl }}" data-holder-rendered="true" />
  <!-- <app-avatar [photoUrl]="photoUrl" [name]="userName"></app-avatar>     -->
</mat-toolbar>
<mat-nav-list>
  <h2 matSubheader>
    <div *ngIf="userName">Hello, {{ userName }}</div>
  </h2>
  <div mat-list-item>
    <form class="form-inline flex-nowrap form-bg rounded p-1">
      <div class="input-group">
        <input
          type="text"
          name="value"
          [(ngModel)]="value"
          class="form-control"
          placeholder="Search"
          aria-label="Search"
          aria-describedby="basic-addon2"
        />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="onSearch(value)">
            <i class="fa fa-search fa-xs"></i>
          </button>
        </div>
      </div>
    </form>
  </div>

  <div mat-card-avatar class="example-header-image"></div>
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon><span class="nav-caption">Main</span>
  </a>
  <a mat-list-item routerLink="/post" (click)="onSidenavClose()">
    <mat-icon>add_circle</mat-icon><span class="nav-caption">Post</span>
  </a>
  <a mat-list-item routerLink="/ask" (click)="onSidenavClose()">
    <mat-icon>question_answer</mat-icon><span class="nav-caption">Ask</span>
  </a>
  <a mat-list-item routerLink="/my-list" (click)="onSidenavClose()">
    <mat-icon>face</mat-icon><span class="nav-caption">My Space</span>
  </a>
  <mat-list-item [matMenuTriggerFor]="menu">
    <mat-icon>account_balance</mat-icon>
    <a matline><span class="nav-caption">Account Actions</span></a>
  </mat-list-item>
  <mat-menu #menu="matMenu" yPosition="below">
    <button mat-menu-item (click)="onLogInAndSideClose()">Login</button>
    <button mat-menu-item (click)="onLogOutAndSideClose()">Logout</button>
  </mat-menu>
</mat-nav-list>
