<mat-toolbar>
  <span>PRS</span>
  <span class="spacer"></span>
  <img class="rounded-circle z-depth-2" width="40px" height="40px" src="{{ photoUrl }}" data-holder-rendered="true" />
  <!-- <app-avatar [photoUrl]="photoUrl" [name]="userName"></app-avatar>     -->
</mat-toolbar>
<mat-nav-list>
  <h2 matSubheader>
    <div *ngIf="userName">Hello, {{ userName }}</div>
  </h2>
  <div mat-list-item>
    <form class="flex-nowrap form-bg rounded p-1">
      <div class="input-group mb-2">
        <input
          type="text"
          name="search"
          [(ngModel)]="search"
          class="form-control"
          placeholder="Search"
          aria-label="Search"
          aria-describedby="basic-addon2"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="onSearch(search, selectedCity, selectedCategoryId)"
          >
            <i class="fa fa-search fa-xs"></i>
          </button>
        </div>
      </div>
      <div class="input-group mb-2">
        <select class="form-control" name="selectedCategoryId" [(ngModel)]="selectedCategoryId">
          <option *ngFor="let category of categoryList" [value]="category.categoryId">
            {{ category.name }}
          </option>
        </select>
      </div>
      <div class="input-group">
        <select class="form-control" name="selectedCity" [(ngModel)]="selectedCity">
          <option *ngFor="let city of cityList" [value]="city">
            {{ city }}
          </option>
        </select>
      </div>
    </form>
  </div>

  <div mat-card-avatar class="example-header-image"></div>
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon><span class="nav-caption">Main</span>
  </a>
  <a mat-list-item routerLink="/post" (click)="onSidenavClose()">
    <mat-icon>add_circle</mat-icon><span class="nav-caption">Post</span>
  </a>
  <a mat-list-item routerLink="/ask" (click)="onSidenavClose()">
    <mat-icon>question_answer</mat-icon><span class="nav-caption">Ask</span>
  </a>
  <a mat-list-item [routerLink]="notificationCount > 0 ? ['/my-list'] : ['/my-borrow']" (click)="onSidenavClose()">
    <mat-icon matBadge="{{ notificationCount }}" matBadgeColor="accent" matBadgePosition="above before">face</mat-icon
    ><span class="nav-caption">My Space</span>
  </a>

  <ng-template [ngIf]="userName" [ngIfElse]="logIn">
    <a mat-list-item routerLink="/user-account" (click)="onSidenavClose()">
      <mat-icon>account_circle</mat-icon><span class="nav-caption">Account</span>
    </a>
    <a mat-list-item routerLink="/home" (click)="onLogOutAndSideClose()">
      <mat-icon>power_settings_new</mat-icon><span class="nav-caption">Sign Out</span>
    </a>
  </ng-template>
  <ng-template #logIn>
    <a mat-list-item routerLink="/" class="accent-color" (click)="onLogInAndSideClose()">
      <mat-icon>login</mat-icon><span class="nav-caption">Login/Register</span>
    </a>
  </ng-template>
</mat-nav-list>
