a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: rgb(34, 33, 33);
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}

.example-header-image {
  background-size: cover;
}

.spacer {
  flex: 1 1 auto;
}

.form-bg {
  border-color: gray;
}

mat-toolbar {
  background-color: rgb(188, 188, 189);
}

.accent-color {
  color: red;
}
