<div *ngIf="!isDetail">
  <div class="card">
    <div class="card-img-wrapper">
      <img
        *ngIf="property.defaultImageFile"
        class="card-img-top"
        src="{{ PhotoFilePath }}{{ property.defaultImageFile }}"
      />
      <!-- <img *ngIf="!property.defaultImageFile" class="card-img-top" src="assets/images/house_default.png"> -->
      <img *ngIf="!property.defaultImageFile" class="card-img-top" src="{{ PhotoFilePath }}noImage.png" />
      <ul class="list-inline text-center member-icons animate">
        <!-- <li class="list-inline-item">
                <button class="btn btn-primary"><i class="fa fa-edit"></i></button>
               <button class="btn btn-primary" routerLink="/property-detail/{{property.Id}}" routerLinkActive="router-link-active" ><i class="fa fa-edit"></i></button>
            </li> -->
        <li class="list-inline-item">
          <button class="btn btn-primary" (click)="openDetail(property.id)"><i class="fa fa-image"></i></button>
        </li>

        <li class="list-inline-item">
          <button class="btn btn-primary" (click)="onclickDetails(property.id)">
            <i class="fa fa-info-circle"></i>
          </button>
        </li>
      </ul>
    </div>
    <div class="product-block col-md-12" (click)="onclickDetails(property.id)">
      <h3 class="text-danger">{{ property.name }}</h3>
      <h4 class="mb-0">
        <span *ngIf="dateDiffInDays(property.createdDate, currentDate) == 0">
          <span *ngIf="dateDiffInHours(property.createdDate, currentDate) == 0">
            {{ dateDiffInMins(property.createdDate, currentDate) }} mins ago
          </span>
          <span *ngIf="dateDiffInHours(property.createdDate, currentDate) > 0">
            {{ dateDiffInHours(property.createdDate, currentDate) }} hours ago
          </span>
        </span>
        <span *ngIf="dateDiffInDays(property.createdDate, currentDate) == 1"> yesterday </span>
        <span *ngIf="dateDiffInDays(property.createdDate, currentDate) > 1">
          {{ formatDate(property.createdDate) }}
        </span>
      </h4>
      <ul class="list-inline">
        <li class="list-inline-item">
          <i class="fas fa-hand-holding-usd"></i> Deposit :
          <span class="text-currency">{{ formatCurrency(property.deposit) }}</span>
        </li>
        <li class="list-inline-item">
          <i class="fa fa-usd"></i> Fee: <span class="text-currency">{{ formatCurrency(property.fee) }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
<div *ngIf="isDetail">
  <div class="card_detail row">
    <div class="card-img-wrapper product-block col-md-4">
      <img
        *ngIf="property.defaultImageFile"
        class="card-img-top"
        src="{{ PhotoFilePath }}{{ property.defaultImageFile }}"
      />
      <!-- <img *ngIf="!property.defaultImageFile" class="card-img-top" src="assets/images/house_default.png"> -->
      <img *ngIf="!property.defaultImageFile" class="card-img-top" src="{{ PhotoFilePath }}noImage.png" />
      <ul class="list-inline text-center member-icons animate">
        <!-- <li class="list-inline-item">
                <button class="btn btn-primary"><i class="fa fa-edit"></i></button>
               <button class="btn btn-primary" routerLink="/property-detail/{{property.Id}}" routerLinkActive="router-link-active" ><i class="fa fa-edit"></i></button>
            </li> -->
        <li class="list-inline-item">
          <button class="btn btn-primary" (click)="openDetail(property.id)"><i class="fa fa-image"></i></button>
        </li>

        <li class="list-inline-item">
          <button class="btn btn-primary" (click)="onclickDetails(property.id)">
            <i class="fa fa-info-circle"></i>
          </button>
        </li>
      </ul>
    </div>
    <div class="product-block col-md-8" (click)="onclickDetails(property.id)">
      <h3 class="text-danger">{{ property.name }}</h3>
      <h4 class="mb-0">
        <span *ngIf="dateDiffInDays(property.createdDate, currentDate) == 0">
          <span *ngIf="dateDiffInHours(property.createdDate, currentDate) == 0">
            {{ dateDiffInMins(property.createdDate, currentDate) }} mins ago
          </span>
          <span *ngIf="dateDiffInHours(property.createdDate, currentDate) > 0">
            {{ dateDiffInHours(property.createdDate, currentDate) }} hours ago
          </span>
        </span>
        <span *ngIf="dateDiffInDays(property.createdDate, currentDate) == 1"> yesterday </span>
        <span *ngIf="dateDiffInDays(property.createdDate, currentDate) > 1">
          {{ formatDate(property.createdDate) }}
        </span>
      </h4>
      <h4 class="mb-1">{{ property.description }}</h4>
      <ul class="list-inline">
        <li class="list-inline-item">
          <i class="fas fa-hand-holding-usd"></i> Deposit :
          <span class="text-currency">{{ formatCurrency(property.deposit) }}</span>
        </li>
        <li class="list-inline-item">
          <i class="fa fa-usd"></i> Fee: <span class="text-currency">{{ formatCurrency(property.fee) }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
