.card {
  min-height: 350px;
}

.card-body h1 {
  font-family: fantasy;
  color: #0069d9;
}
.card-img-wrapper {
  overflow: hidden;
  position: relative;
}

.font-highlight {
  font-style: italic;
  color: red;
}

.card:hover img {
  transform: scale(1.05, 1.05);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  height: 250px;
  opacity: 0.7;
  object-fit: contain;
}

.card img {
  transform: scale(1, 1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  height: 250px;
  object-fit: contain;
}

.member-icons {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
}

.card-img-wrapper:hover .member-icons {
  bottom: 0;
  opacity: 1;
}

.animate {
  transition: all 0.3s ease-in-out;
}

.text-danger {
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-weight: 500;
}

.card_detail {
  min-height: 200px;
  margin-left: 8px;
  margin-right: 8px;
  border-style: solid;
  border-radius: 4px;
  border-color: lightgray;
  border-width: 1px;
  background-color: white;
}

.card_detail img {
  transform: scale(1, 1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  height: 250px;
  object-fit: contain;
}

.card_detail:hover img {
  transform: scale(1.05, 1.05);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  height: 250px;
  opacity: 0.7;
  object-fit: contain;
}

.text-currency {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-weight: 500;
  font-size: 16px;
  color: red;
}
