<div class="container mt-3">
  <div class="d-flex flex-row flex-wrap">
    <div class="col-md-8 p-0 mb-3">
      <div class="card item-card shadow-sm bg-white m-1">
        <div class="card-header">
          <h3>Item Information</h3>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" [formGroup]="addItemForm">
            <div class="tab-panel d-flex flex-column justify-content-between">
              <div>
                <ul ngbNav #nav="ngbNav" [(activeId)]="activeTabId" [destroyOnHide]="false" class="nav-tabs">
                  <li [ngbNavItem]="0" [destroyOnHide]="true" formGroupName="basicInfo">
                    <a ngbNavLink>Basic Info</a>
                    <ng-template ngbNavContent>
                      <div class="form-group col-12">
                        <label>Category *</label>
                        <select
                          class="form-control"
                          formControlName="categoryId"
                          [attr.disabled]="isReadOnly ? '' : null"
                          aria-label=".form-select-lg example"
                        >
                          <option *ngFor="let category of categoryList" [ngValue]="category.categoryId">
                            {{ category.name }}
                          </option>
                        </select>
                        <div *ngFor="let validation of validation_messages.categoryId">
                          <div
                            class="text-danger"
                            *ngIf="
                              basicInfo.get('categoryId').hasError(validation.type) &&
                              (basicInfo.get('categoryId').dirty ||
                                basicInfo.get('categoryId').touched ||
                                isSubmitPressed)
                            "
                          >
                            {{ validation.message }}
                          </div>
                        </div>
                      </div>

                      <div class="form-group col-12">
                        <label>Name *</label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="name"
                          [attr.disabled]="isReadOnly ? '' : null"
                        />
                        <div *ngFor="let validation of validation_messages.name">
                          <div
                            class="text-danger"
                            *ngIf="
                              basicInfo.get('name').hasError(validation.type) &&
                              (basicInfo.get('name').dirty || basicInfo.get('name').touched || isSubmitPressed)
                            "
                          >
                            {{ validation.message }}
                          </div>
                        </div>
                      </div>

                      <div class="form-group col-12">
                        <label>Description *</label>
                        <textarea
                          class="form-control"
                          formControlName="description"
                          [attr.disabled]="isReadOnly ? '' : null"
                          rows="7"
                        ></textarea>
                        <div *ngFor="let validation of validation_messages.description">
                          <div
                            class="text-danger"
                            *ngIf="
                              basicInfo.get('description').hasError(validation.type) &&
                              (basicInfo.get('description').dirty ||
                                basicInfo.get('description').touched ||
                                isSubmitPressed)
                            "
                          >
                            {{ validation.message }}
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </li>

                  <li [ngbNavItem]="1" formGroupName="priceInfo">
                    <a ngbNavLink>Pricing and Condition</a>
                    <ng-template ngbNavContent>
                      <div class="form-group col-12">
                        <label>Deposit *</label>
                        <input
                          type="text"
                          currencyMask
                          class="form-control"
                          formControlName="deposit"
                          [attr.disabled]="isReadOnly ? '' : null"
                        />
                        <div *ngFor="let validation of validation_messages.deposit">
                          <div
                            class="text-danger"
                            *ngIf="
                              priceInfo.get('deposit').hasError(validation.type) &&
                              (priceInfo.get('deposit').dirty || priceInfo.get('deposit').touched || isSubmitPressed)
                            "
                          >
                            {{ validation.message }}
                          </div>
                        </div>
                      </div>

                      <div class="form-group col-12">
                        <label>Rental Fee (per day) *</label>
                        <input
                          type="text"
                          currencyMask
                          class="form-control"
                          formControlName="fee"
                          [attr.disabled]="isReadOnly ? '' : null"
                        />
                        <div *ngFor="let validation of validation_messages.fee">
                          <div
                            class="text-danger"
                            *ngIf="
                              priceInfo.get('fee').hasError(validation.type) &&
                              (priceInfo.get('fee').dirty || priceInfo.get('fee').touched || isSubmitPressed)
                            "
                          >
                            {{ validation.message }}
                          </div>
                        </div>
                      </div>

                      <div class="form-group col-12">
                        <label>Start Date *</label>
                        <input
                          type="text"
                          placeholder="Start Date"
                          class="form-control"
                          formControlName="startDate"
                          [attr.disabled]="isReadOnly ? '' : null"
                          bsDatepicker
                          placement="top"
                          [bsValue]="itemPkg.item.startDate"
                          [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'MM/DD/YYYY' }"
                        />
                        <div *ngFor="let validation of validation_messages.startDate">
                          <div
                            class="text-danger"
                            *ngIf="
                              priceInfo.get('startDate').hasError(validation.type) &&
                              (priceInfo.get('startDate').dirty ||
                                priceInfo.get('startDate').touched ||
                                isSubmitPressed)
                            "
                          >
                            {{ validation.message }}
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-12">
                        <label>End Date *</label>
                        <input
                          type="text"
                          matInput
                          placeholder="End Date"
                          class="form-control"
                          formControlName="endDate"
                          [errorStateMatcher]="parentErrorStateMatcher"
                          [attr.disabled]="isReadOnly ? '' : null"
                          bsDatepicker
                          placement="top"
                          [bsValue]="itemPkg.item.endDate"
                          [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'MM/DD/YYYY' }"
                        />
                        <div *ngFor="let validation of validation_messages.endDate">
                          <div
                            class="text-danger"
                            *ngIf="
                              priceInfo.hasError(validation.type) ||
                              (priceInfo.get('endDate').hasError(validation.type) &&
                                (priceInfo.get('endDate').dirty || priceInfo.get('endDate').touched || isSubmitPressed))
                            "
                          >
                            {{ validation.message }}
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </li>

                  <li [ngbNavItem]="2" formGroupName="addressInfo">
                    <a ngbNavLink>Address</a>
                    <ng-template ngbNavContent>
                      <div *ngIf="isReadOnly == false" class="form-group col-12">
                        <input
                          class="mr-2"
                          type="checkbox"
                          [attr.disabled]="isReadOnly ? '' : null"
                          [(ngModel)]="isDefaultAddress"
                          [ngModelOptions]="{ standalone: true }"
                          (change)="onChangeDefaultAddress()"
                        />
                        <label>Use Default Address</label>
                      </div>

                      <div class="form-group col-12">
                        <label>Prvince *</label>
                        <select
                          class="form-control"
                          formControlName="provinceId"
                          [attr.disabled]="isReadOnly ? '' : isDefaultAddress ? '' : null"
                          aria-label=".form-select-lg example"
                        >
                          <option *ngFor="let province of provinceList" [ngValue]="province.id">
                            {{ province.name }}
                          </option>
                        </select>
                        <div *ngFor="let validation of validation_messages.provinceId">
                          <div
                            class="text-danger"
                            *ngIf="
                              addressInfo.get('provinceId').hasError(validation.type) &&
                              (addressInfo.get('provinceId').dirty ||
                                addressInfo.get('provinceId').touched ||
                                isSubmitPressed)
                            "
                          >
                            {{ validation.message }}
                          </div>
                        </div>
                      </div>

                      <div class="form-group col-12">
                        <label>City *</label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="city"
                          [attr.disabled]="isReadOnly ? '' : null"
                          [readonly]="isDefaultAddress"
                        />
                        <div *ngFor="let validation of validation_messages.city">
                          <div
                            class="text-danger"
                            *ngIf="
                              addressInfo.get('city').hasError(validation.type) &&
                              (addressInfo.get('city').dirty || addressInfo.get('city').touched || isSubmitPressed)
                            "
                          >
                            {{ validation.message }}
                          </div>
                        </div>
                      </div>

                      <div class="form-group col-12">
                        <label>Address1 *</label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="address1"
                          [attr.disabled]="isReadOnly ? '' : null"
                          [readonly]="isDefaultAddress"
                        />
                        <div *ngFor="let validation of validation_messages.address1">
                          <div
                            class="text-danger"
                            *ngIf="
                              addressInfo.get('address1').hasError(validation.type) &&
                              (addressInfo.get('address1').dirty ||
                                addressInfo.get('address1').touched ||
                                isSubmitPressed)
                            "
                          >
                            {{ validation.message }}
                          </div>
                        </div>
                      </div>

                      <div class="form-group col-12">
                        <label>Address2</label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="address2"
                          [attr.disabled]="isReadOnly ? '' : null"
                          [readonly]="isDefaultAddress"
                        />
                      </div>

                      <div class="form-group col-12">
                        <label>Postal Code *</label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="postalCode"
                          [attr.disabled]="isReadOnly ? '' : null"
                          [readonly]="isDefaultAddress"
                        />
                        <div *ngFor="let validation of validation_messages.postalCode">
                          <div
                            class="text-danger"
                            *ngIf="
                              addressInfo.get('postalCode').hasError(validation.type) &&
                              (addressInfo.get('postalCode').dirty ||
                                addressInfo.get('postalCode').touched ||
                                isSubmitPressed)
                            "
                          >
                            {{ validation.message }}
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </li>

                  <li [ngbNavItem]="3">
                    <a ngbNavLink>Review</a>
                    <ng-template ngbNavContent>
                      <div class="d-flex flex-column mt-3">
                        <div *ngIf="reviewPkgs.length == 0"><p>No Reviews</p></div>
                        <div *ngIf="reviewPkgs.length != 0" class="mt-2">
                          <div class="d-flex flex-column justify-content-start">
                            <div *ngIf="avgRate != 0" class="d-flex flex-row justify-content-start border-bottom">
                              <ngb-rating
                                class="mb-2"
                                [readonly]="true"
                                [(rate)]="avgRate"
                                [min]="1"
                                [max]="5"
                              ></ngb-rating>
                              <div class="ratingText ml-2 pt-2">
                                {{ reviewsCount }} Reviews / Average: {{ avgRate }}
                              </div>
                            </div>

                            <div *ngFor="let reviewPkg of reviewPkgs">
                              <div class="d-flex flex-row justify-content-start">
                                <ngb-rating
                                  id="rating"
                                  class="mb-2"
                                  [readonly]="true"
                                  [(rate)]="reviewPkg.review.rate"
                                  [min]="1"
                                  [max]="5"
                                ></ngb-rating>
                              </div>
                              <div class="d-flex flex-row justify-content-between">
                                <div>{{ reviewPkg.review.userName }}</div>
                                <div>Reviewed on {{ formatDate(reviewPkg.review.date) }}</div>
                              </div>
                              <div class="d-flex flex-row justify-content-start">
                                <p>{{ reviewPkg.review.title }}</p>
                              </div>
                              <div class="d-flex flex-row justify-content-start border-bottom">
                                <p>{{ reviewPkg.review.review1 }}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </li>

                  <li *ngIf="isReadOnly == false" [ngbNavItem]="4">
                    <a ngbNavLink>Photos</a>
                    <ng-template ngbNavContent>
                      <div class="center mt-3">
                        <ngx-file-drop
                          dropZoneLabel="Drop files here"
                          (onFileDrop)="dropped($event)"
                          (onFileOver)="fileOver($event)"
                          (onFileLeave)="fileLeave($event)"
                        >
                          <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                            Drag and Drop Photos
                            <button type="button" class="btn btn-secondary btn-sm ml-3" (click)="openFileSelector()">
                              Browse Files
                            </button>
                          </ng-template>
                        </ngx-file-drop>
                        <div class="mt-2">
                          <div class="d-flex flex-column">
                            <div *ngFor="let item of photoUrls; let i = index">
                              <div class="d-flex flex-row justify-content-center">
                                <img class="mt-1 mb-1" [src]="photoUrls[i]" width="100" />
                                <button
                                  type="button"
                                  class="btn btn-secondary btn-sm ml-3 mt-1"
                                  (click)="deletePhoto(i)"
                                >
                                  Delete
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </li>
                </ul>

                <div [ngbNavOutlet]="nav" class="mt-2"></div>
              </div>
              <div class="d-flex flex-row flex-wrap justify-content-end mb-1 mr-1">
                <div class="ml-2">
                  <button mat-stroked-button type="button" color="primary" (click)="selectPreviousTab()">Back</button>
                </div>
                <div class="ml-2">
                  <button mat-stroked-button type="button" color="primary" (click)="selectNextTab()">Next</button>
                </div>
                <div *ngIf="isReadOnly == false" class="ml-2">
                  <button mat-stroked-button type="submit" color="primary">Save</button>
                </div>
                <div class="ml-2 mr-2">
                  <button mat-stroked-button type="reset" color="warn">Cancel</button>
                </div>
                <div *ngIf="isReadOnly == true && validateAvailableDates() == true" class="ml-2">
                  <button mat-stroked-button type="button" color="primary" (click)="requestBorrow()">Borrow</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4 p-0">
      <div class="card m-1 shadow-sm bg-white">
        <div class="card-header">
          <h3>Preview</h3>
        </div>
        <div
          class="shadow-sm p-3 bg-white"
          style="min-width: 200px; height: 200px"
          (click)="openDetail(itemPkg.item.id)"
        >
          <img class="preview-image" [src]="itemDefaultPhotoUrl == null ? noImagePhotoUrl : itemDefaultPhotoUrl" />
        </div>
      </div>
    </div>
  </div>
</div>
