<div class="container mt-3">
  <div class="d-flex flex-row-reverse flex-wrap">
    <div class="col-md-3 p-0">
      <div class="card m-1 shadow-sm bg-white">
        <div class="card-header">
          <h3>Notification</h3>
        </div>
        <div class="shadow-sm p-3 bg-white">
          <app-notification-list></app-notification-list>
        </div>
      </div>
    </div>
    <div class="col-md-9 p-0 mb-3">
      <div class="card item-card shadow-sm bg-white m-1">
        <div class="card-header">
          <h3>My Items</h3>
        </div>
        <div class="card-body">
          <ul
            ngbNav
            #nav="ngbNav"
            (navChange)="onNavChange($event)"
            [(activeId)]="active"
            [destroyOnHide]="false"
            class="nav-tabs"
          >
            <li [ngbNavItem]="1" [destroyOnHide]="true">
              <a ngbNavLink>My Items</a>
              <ng-template ngbNavContent>
                <div class="input-group mt-3 mb-3">
                  <input
                    [(ngModel)]="NameFilter1"
                    class="form-control"
                    style="background-color: rgb(252, 248, 251); border-color: rgb(218, 216, 216)"
                    (keyup)="FilterFn1()"
                    placeholder="Filter by Name"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2"> <i class="fa fa-search fa-xs"></i></span>
                  </div>
                </div>
                <div class="row mb-3" *ngFor="let userItem of userItems">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-3">
                            <img
                              *ngIf="userItem.item.defaultImageFile"
                              src="{{ filePath }}{{ userItem.item.defaultImageFile }}"
                            />
                          </div>
                          <div class="col-md-6">
                            <h4>{{ userItem.item.name }}</h4>
                            <small>Category: {{ userItem.item.categoryName }}</small>
                            <p>
                              <small
                                ><span *ngIf="!showMore"> {{ trimString(userItem.item.description, 50) }}</span>
                                <span *ngIf="showMore"> {{ userItem.item.description }}</span>
                                <div *ngIf="userItem.item.description.length > 50" (click)="showMore = !showMore">
                                  <span class="showmore">Show {{ showMore ? 'less' : 'More' }}...</span>
                                </div>
                              </small>
                            </p>
                            <small>Start: {{ formatDate(userItem.item.startDate) }}</small
                            ><br />
                            <p>
                              <small>End: {{ formatDate(userItem.item.endDate) }}</small>
                            </p>
                          </div>
                          <div class="col-md-3">
                            <small><span>Deposit:</span> {{ formatCurrency(userItem.item.deposit) }}</small
                            ><br class="mb-1" />
                            <p>
                              <small><span>Fee: </span>{{ formatCurrency(userItem.item.fee) }}</small>
                            </p>
                            <small>Address: </small><br />
                            <p>
                              <small
                                >{{ userItem.address.address1 }}, {{ userItem.address.city }},
                                {{ userItem.address.provinceCode }},
                                {{ userItem.address.postalCode }}
                              </small>
                            </p>
                            <small>Posted on: {{ formatDate(userItem.item.createdDate) }}</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="notEmptyPost1" class="col-md-12 d-flex justify-content-center">
                  <button (click)="onClick1()" type="button" class="btn btn-secondary">LOAD MORE</button>
                </div>
              </ng-template>
            </li>

            <!-- Request Start -->
            <li [ngbNavItem]="2">
              <a ngbNavLink>Request</a>
              <ng-template ngbNavContent>
                <div class="input-group mt-3 mb-3">
                  <input
                    [(ngModel)]="NameFilter2"
                    class="form-control"
                    style="background-color: rgb(252, 248, 251); border-color: rgb(218, 216, 216)"
                    (keyup)="FilterFn2()"
                    placeholder="Filter by Name"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2"> <i class="fa fa-search fa-xs"></i></span>
                  </div>
                </div>
                <div class="row mb-3" *ngFor="let requestItem of requestItems">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-12 col-sm-4 col-md-3 col-lg-3">
                            <img
                              *ngIf="requestItem.item.defaultImageFile"
                              src="{{ filePath }}{{ requestItem.item.defaultImageFile }}"
                            />
                          </div>
                          <div class="request col-12 col-sm-8 col-md-4 col-lg-6">
                            <h4 mb-3>{{ requestItem.item.name }}</h4>
                            <h4 class="title">
                              Request from
                              <a class="text-primary" (click)="openBorrowerDetails(requestItem.trans.borrowerId)">{{
                                requestItem.trans.borrowerName
                              }}</a>
                            </h4>
                            <p class="date" mb-3>Request date: {{ formatDate(requestItem.trans.requestDate) }}</p>
                            <h4>
                              <span class="when">When: </span
                              ><span class="text-primary"
                                >{{ formatDate(requestItem.trans.startDate) }} ~
                                {{ formatDate(requestItem.trans.endDate) }}</span
                              >
                            </h4>
                          </div>
                          <div class="col-12 col-sm-12 col-md-5 col-lg-3">
                            <small><span>Deposit:</span> {{ formatCurrency(requestItem.trans.deposit) }}</small
                            ><br class="mb-1" />
                            <p>
                              <small><span>Total Fee: </span>{{ formatCurrency(requestItem.trans.total) }}</small>
                            </p>
                            <button mat-stroked-button color="primary" (click)="confirmBorrow(requestItem.trans)">
                              Confirm Borrow
                            </button>
                            <button mat-stroked-button color="warn" (click)="rejectBorrow(requestItem.trans.id)">
                              Reject Borrow
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="notEmptyPost2" class="col-md-12 d-flex justify-content-center">
                  <button (click)="onClick2()" type="button" class="btn btn-secondary">LOAD MORE</button>
                </div>
              </ng-template>
            </li>
            <!-- Request end -->

            <!-- Request Return Start -->
            <li [ngbNavItem]="3">
              <a ngbNavLink>Processing</a>
              <!-- <ng-template ngbNavContent let-active>
                <ngb-alert *ngIf="active" [dismissible]="false" class="d-block mt-3">
                  While tab content DOM is never destroyed, this alert exists only when current tab is active
                </ngb-alert> -->

              <ng-template ngbNavContent>
                <div class="input-group mt-3 mb-3">
                  <input
                    [(ngModel)]="NameFilter3"
                    class="form-control"
                    style="background-color: rgb(252, 248, 251); border-color: rgb(218, 216, 216)"
                    (keyup)="FilterFn3()"
                    placeholder="Filter by Name"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2"> <i class="fa fa-search fa-xs"></i></span>
                  </div>
                </div>
                <div class="row mb-3" *ngFor="let processingItem of processingItems">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-12 col-sm-4 col-md-3 col-lg-3">
                            <img
                              *ngIf="processingItem.item.defaultImageFile"
                              src="{{ filePath }}{{ processingItem.item.defaultImageFile }}"
                            />
                          </div>
                          <div class="request col-12 col-sm-8 col-md-4 col-lg-6">
                            <h4 mb-3>{{ processingItem.item.name }}</h4>
                            <h4 class="title">
                              Request from
                              <a class="text-primary" (click)="openBorrowerDetails(processingItem.trans.borrowerId)">{{
                                processingItem.trans.borrowerName
                              }}</a>
                            </h4>
                            <p class="date" mb-3>Request date: {{ formatDate(processingItem.trans.requestDate) }}</p>
                            <h4>
                              <span class="when">When: </span
                              ><span class="text-primary"
                                >{{ formatDate(processingItem.trans.startDate) }} ~
                                {{ formatDate(processingItem.trans.endDate) }}</span
                              >
                            </h4>
                            <h4 class="returnby">
                              Return by: {{ formatDate(processingItem.trans.endDate) }}
                              <span *ngIf="dateDiffInDays(currentDate, processingItem.trans.endDate) == 0"
                                >(today)
                              </span>
                              <span *ngIf="dateDiffInDays(currentDate, processingItem.trans.endDate) < 0">(over) </span>
                              <span *ngIf="dateDiffInDays(currentDate, processingItem.trans.endDate) > 0"
                                >({{ dateDiffInDays(processingItem.trans.endDate, currentDate) }})
                              </span>
                            </h4>
                          </div>
                          <div class="col-12 col-sm-12 col-md-5 col-lg-3">
                            <small><span>Deposit:</span> {{ formatCurrency(processingItem.trans.deposit) }}</small
                            ><br class="mb-1" />
                            <p>
                              <small><span>Total Fee: </span>{{ formatCurrency(processingItem.trans.total) }}</small>
                            </p>
                            <p>
                              <span class="status">Status: </span>
                              <span class="statusName">{{ processingItem.trans.statusName }}</span>
                            </p>
                            <!-- <div
                              *ngIf="processingItem.trans.currentStatus === 2"
                              class="col-md-12 d-flex justify-content-center"
                            > -->
                            <button
                              mat-stroked-button
                              color="primary"
                              *ngIf="dateDiffInDays(currentDate, processingItem.trans.startDate) > 0"
                              (click)="cancelBorrow(processingItem.trans.id)"
                            >
                              Cancel Item
                            </button>
                            <!-- </div> -->
                            <!-- <button mat-stroked-button color="warn">Reject Borrow</button> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="notEmptyPost3" class="col-md-12 d-flex justify-content-center">
                  <button (click)="onClick3()" type="button" class="btn btn-secondary">LOAD MORE</button>
                </div>
              </ng-template>
            </li>

            <!-- Request Return Start -->
            <li [ngbNavItem]="4">
              <a ngbNavLink>Request Return</a>
              <!-- <ng-template ngbNavContent let-active>
                <ngb-alert *ngIf="active" [dismissible]="false" class="d-block mt-3">
                  While tab content DOM is never destroyed, this alert exists only when current tab is active
                </ngb-alert> -->

              <ng-template ngbNavContent>
                <div class="input-group mt-3 mb-3">
                  <input
                    [(ngModel)]="NameFilter4"
                    class="form-control"
                    style="background-color: rgb(252, 248, 251); border-color: rgb(218, 216, 216)"
                    (keyup)="FilterFn4()"
                    placeholder="Filter by Name"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2"> <i class="fa fa-search fa-xs"></i></span>
                  </div>
                </div>
                <div class="row mb-3" *ngFor="let returnItem of returnItems">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-12 col-sm-4 col-md-3 col-lg-3">
                            <img
                              *ngIf="returnItem.item.defaultImageFile"
                              src="{{ filePath }}{{ returnItem.item.defaultImageFile }}"
                            />
                          </div>
                          <div class="request col-12 col-sm-8 col-md-4 col-lg-6">
                            <h4 mb-3>{{ returnItem.item.name }}</h4>
                            <h4 class="title">
                              Request from
                              <a class="text-primary" (click)="openBorrowerDetails(returnItem.trans.borrowerId)">{{
                                returnItem.trans.borrowerName
                              }}</a>
                            </h4>
                            <p class="date" mb-3>Request date: {{ formatDate(returnItem.trans.requestDate) }}</p>
                            <h4>
                              <span class="when">When: </span
                              ><span class="text-primary"
                                >{{ formatDate(returnItem.trans.startDate) }} ~
                                {{ formatDate(returnItem.trans.endDate) }}</span
                              >
                            </h4>
                          </div>
                          <div class="col-12 col-sm-12 col-md-5 col-lg-3">
                            <small><span>Deposit:</span> {{ formatCurrency(returnItem.trans.deposit) }}</small
                            ><br class="mb-1" />
                            <p>
                              <small><span>Total Fee: </span>{{ formatCurrency(returnItem.trans.total) }}</small>
                            </p>
                            <button mat-stroked-button color="primary" (click)="returnComplete(returnItem)">
                              Return Complete
                            </button>
                            <!-- <button mat-stroked-button color="warn">Reject Borrow</button> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="notEmptyPost3" class="col-md-12 d-flex justify-content-center">
                  <button (click)="onClick4()" type="button" class="btn btn-secondary">LOAD MORE</button>
                </div>
              </ng-template>
            </li>

            <li [ngbNavItem]="5">
              <a ngbNavLink>Completed</a>
              <!-- <ng-template ngbNavContent>
                <ngb-alert [dismissible]="false" class="d-block mt-3" type="success">
                  This tab content DOM will always stay in DOM
                </ngb-alert> -->

              <ng-template ngbNavContent>
                <div class="input-group mt-3 mb-3">
                  <input
                    [(ngModel)]="NameFilter5"
                    class="form-control"
                    style="background-color: rgb(252, 248, 251); border-color: rgb(218, 216, 216)"
                    (keyup)="FilterFn5()"
                    placeholder="Filter by Name"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2"> <i class="fa fa-search fa-xs"></i></span>
                  </div>
                </div>
                <div class="row mb-3" *ngFor="let completedItem of completedItems">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-12 col-sm-4 col-md-3 col-lg-3">
                            <img
                              *ngIf="completedItem.item.defaultImageFile"
                              src="{{ filePath }}{{ completedItem.item.defaultImageFile }}"
                            />
                          </div>
                          <div class="request col-12 col-sm-8 col-md-4 col-lg-6">
                            <h4 mb-3>{{ completedItem.item.name }}</h4>
                            <h4 class="title">
                              Request from
                              <a class="text-primary" (click)="openBorrowerDetails(completedItem.trans.borrowerId)">{{
                                completedItem.trans.borrowerName
                              }}</a>
                            </h4>
                            <p class="date" mb-3>Request date: {{ formatDate(completedItem.trans.requestDate) }}</p>
                            <h4>
                              <span class="when">When: </span>
                              <span class="text-primary"
                                >{{ formatDate(completedItem.trans.startDate) }} ~
                                {{ formatDate(completedItem.trans.endDate) }}</span
                              >
                            </h4>
                          </div>
                          <div class="col-12 col-sm-12 col-md-5 col-lg-3">
                            <small><span>Deposit:</span> {{ formatCurrency(completedItem.trans.deposit) }}</small
                            ><br class="mb-1" />
                            <p>
                              <small><span>Total Fee: </span>{{ formatCurrency(completedItem.trans.total) }}</small>
                            </p>
                            <p *ngIf="completedItem.trans.currentStatus === 7">
                              <small
                                ><span>Refund Deposit: </span
                                >{{ formatCurrency(completedItem.trans.refundDeposit) }}</small
                              >
                            </p>
                            <p>
                              <!-- <small> -->
                              <span class="status">Status: </span>
                              <span class="statusName">{{ completedItem.trans.statusName }}</span>
                              <!-- </small> -->
                            </p>
                            <p
                              *ngIf="
                                completedItem.trans.currentStatus === 3 ||
                                completedItem.trans.currentStatus === 4 ||
                                completedItem.trans.currentStatus === 5
                              "
                            >
                              <!-- <small> -->
                              <span class="reasonLabel">Reason: </span>
                              <span class="reason">{{ completedItem.trans.reason }}</span>
                              <!-- </small> -->
                            </p>
                            <!-- <button mat-stroked-button color="primary">Return Complete</button> -->
                            <!-- <button mat-stroked-button color="warn">Reject Borrow</button> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="notEmptyPost4" class="col-md-12 d-flex justify-content-center">
                  <button (click)="onClick5()" type="button" class="btn btn-secondary">LOAD MORE</button>
                </div>
              </ng-template>
            </li>
            <li ngbNavItem class="ml-auto">
              <a ngbNavLink routerLink="/my-borrow" style="color: rgb(197, 13, 13)">My Borrows</a>
            </li>
          </ul>

          <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
