a{
    text-decoration: none;
    color: #b9bac4;
   // font-size: 16px;
}
.logo{
    color: white;
}

.header-bg{
    background-color: #4a148c;
}
.font-blue{
    color: #3f51b5 !important;
}

.loginName{
    font-size: 14px;
    padding-top: 2px;
}

a:hover, a:active{
    color: lightgray;
}

.navigation-items{
    list-style-type:none;
    padding-top: 0;
    margin: 0;
}
.no-padding-badge{
    width: 2px;
}
.fab-color-post{
    // background-color: rgb(229, 248, 118);
    background-color: rgb(209, 248, 118);
    color:black;
    width: 43px;
    height: 40px;
    font-weight: 500;
}
.fab-color-ask{
  background-color: rgb(118, 248, 242);
  color:black;
  width: 43px;
  height: 40px;
  font-weight: 500;
}
.mat-badge-content{
    color : yellow
  }

mat-toolbar{
    border-radius: 3px;
}
  
mat-button{
    background-color: lightgreen !important;
}
  
/* Search */
.example-spacer {
    flex: 1 1 auto;
  }
.example-container .mat-form-field + .mat-form-field {
  margin-left: 28px;
}

.example-container .mat-form-field {
  width: 220px;
}

.example-container form {
  margin-bottom: 20px;
}

.example-container form > * {
  margin: 5px 0;
}

.example-container .mat-radio-button {
  margin: 0 12px;
}
/* Search */
@media(max-width: 959px){
    mat-toolbar {
        border-radius: 0px;
    }
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

