<div class="control-box p-3 control-box-b">
    <h2>Change Password</h2>
    <form class="password-form" [formGroup]="passwordForm"
       (ngSubmit)="onSubmitPasswordChange(passwordForm.value)">            
        <table class="full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="full-width">
                        <mat-label>Current password</mat-label>
                        <input matInput type="password" placeholder="Current Password" formControlName="current_password" required>
                        <mat-error *ngFor="let validation of password_validation_messages.current_password">
                            <mat-error class="error-message"
                                *ngIf="passwordForm.get('current_password').hasError(validation.type) && 
                                        (passwordForm.get('current_password').dirty || passwordForm.get('current_password').touched)">
                                {{validation.message}}</mat-error>
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>

            <tr>
                <td>
                    <div formGroupName="matching_passwords">
                        <mat-form-field class="full-width">
                        <input matInput type="password" placeholder="Password" formControlName="password" required>
                        <mat-error *ngFor="let validation of password_validation_messages.password">
                            <mat-error class="error-message" *ngIf="passwordForm.get('matching_passwords').get('password').hasError(validation.type) && 
                                        (passwordForm.get('matching_passwords').get('password').dirty || 
                                        passwordForm.get('matching_passwords').get('password').touched)">
                            {{validation.message}}</mat-error>
                        </mat-error>
                        <mat-icon matSuffix>lock</mat-icon>
                        </mat-form-field>
                
                        <mat-form-field class="full-width">
                        <input matInput type="password" placeholder="Confirm Password" formControlName="confirm_password"
                            [errorStateMatcher]="parentErrorStateMatcher" required>
                        <mat-error *ngFor="let validation of password_validation_messages.confirm_password">
                            <mat-error class="error-message" *ngIf="(passwordForm.get('matching_passwords').get('confirm_password').hasError(validation.type)|| 
                                        passwordForm.get('matching_passwords').hasError(validation.type)) && 
                                        (passwordForm.get('matching_passwords').get('confirm_password').dirty || 
                                        passwordForm.get('matching_passwords').get('confirm_password').touched)">
                            {{validation.message}}</mat-error>
                        </mat-error>
                        <mat-icon matSuffix>lock</mat-icon>
                        </mat-form-field>
                    </div>
                </td>
            </tr>
        </table>
    
    <div class="col-md-3 mt-5">
    <button mat-raised-button color="warn" type="submit" class="login-button"
        [disabled]="!passwordForm.valid">Update</button> 
    </div>
</form>
   </div>