<div class="container mt-3">
  <div class="d-flex flex-row flex-wrap">
    <div class="col-md-8 p-0 mb-3">
      <div class="card item-card shadow-sm bg-white m-1">
        <div class="card-header">
          <h3>Request Borrow</h3>
        </div>
        <div class="card-body">
          <div class="itemInfo border p-2 mb-2">
            <h3 class="text-primary">Item Information</h3>
            <table class="table">
              <tbody>
                <tr>
                  <td>Name</td>
                  <td>{{ itemPkg.item.name }}</td>
                </tr>
                <tr>
                  <td>Owner</td>
                  <td>
                    <a class="text-primary" (click)="openOwnerDetails(ownerDetails.id)">
                      {{ ownerDetails.lastName }} {{ ownerDetails.firstName }}
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>Deposit</td>
                  <td class="text-danger">{{ formatCurrency(itemPkg.item.deposit) }}</td>
                </tr>
                <tr>
                  <td>Fee (per day)</td>
                  <td class="text-danger">{{ formatCurrency(itemPkg.item.fee) }}</td>
                </tr>
                <tr>
                  <td>Available Dates</td>
                  <td>
                    {{ formatDate(itemPkg.item.startDate) }} ~
                    {{ formatDate(itemPkg.item.endDate) }}
                  </td>
                </tr>
                <tr>
                  <td>Description</td>
                  <td>
                    <span *ngIf="!showMore"> {{ trimString(itemPkg.item.description, maxTextViewLen) }}</span>
                    <span *ngIf="showMore"> {{ itemPkg.item.description }}</span>
                    <div *ngIf="itemPkg.item.description.length > maxTextViewLen" (click)="showMore = !showMore">
                      <span class="showmore">Show {{ showMore ? 'less' : 'More' }}...</span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="borrowInfo border p-2">
            <form (ngSubmit)="onSubmit()" [formGroup]="borrowItemForm">
              <div class="d-flex flex-column justify-content-between" formGroupName="borrowInfo">
                <div *ngIf="isPreview == false">
                  <h3 class="text-primary">Borrow Date</h3>
                  <div class="form-group col-12">
                    <label>Start / End Date *</label>
                    <input
                      type="text"
                      matInput
                      placeholder="Start/End Date"
                      class="form-control"
                      formControlName="dates"
                      [errorStateMatcher]="parentErrorStateMatcher"
                      bsDaterangepicker
                      placement="top"
                      [minDate]="minDate"
                      [maxDate]="maxDate"
                      [datesDisabled]="disabledDates"
                      [bsValue]="[transactionPkg.trans.startDate, transactionPkg.trans.endDate]"
                      [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'MM/DD/YYYY' }"
                    />
                    <div *ngFor="let validation of validation_messages.endDate">
                      <div
                        class="text-danger"
                        *ngIf="
                          borrowInfo.hasError(validation.type) ||
                          (borrowInfo.get('dates').hasError(validation.type) &&
                            (borrowInfo.get('dates').dirty || borrowInfo.get('dates').touched || isSubmitPressed))
                        "
                      >
                        {{ validation.message }}
                      </div>
                    </div>
                  </div>

                  <div>
                    <div *ngIf="displayBorrowedDates">
                      <p class="text-danger">Some Dates are already reserved</p>
                      <div *ngFor="let trans of itemTransactions">
                        <p class="text-danger">
                          {{ formatDate(trans.startDate) }} ~ {{ formatDate(trans.endDate) }}<br />
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="isPreview == true">
                  <h3 class="text-primary">Borrow Summary</h3>
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>Start Date</td>
                        <td>{{ formatDate(transactionPkg.trans.startDate) }}</td>
                      </tr>
                      <tr>
                        <td>End Date</td>
                        <td>{{ formatDate(transactionPkg.trans.endDate) }}</td>
                      </tr>
                      <tr>
                        <td>Fee (per day)</td>
                        <td class="text-danger">
                          {{ formatCurrency(itemPkg.item.fee) }}
                        </td>
                      </tr>
                      <tr>
                        <td>Days</td>
                        <td class="text-danger">{{ diffDays }} day(s)</td>
                      </tr>
                      <tr>
                        <td>Total fee</td>
                        <td class="text-danger font-weight-bold">
                          {{ formatCurrency(transactionPkg.trans.total) }}
                        </td>
                      </tr>
                      <tr>
                        <td>Deposit</td>
                        <td class="text-danger font-weight-bold">
                          {{ formatCurrency(transactionPkg.trans.deposit) }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="d-flex flex-row flex-wrap justify-content-end mb-1 mr-1">
                  <div *ngIf="isPreview == false" class="ml-2">
                    <button mat-stroked-button type="submit" color="primary">Preview</button>
                  </div>
                  <div *ngIf="isPreview == true" class="ml-2">
                    <button mat-stroked-button type="button" color="primary" (click)="onBorrow()">Borrow</button>
                  </div>
                  <div *ngIf="isPreview == false" class="ml-2 mr-2">
                    <button mat-stroked-button type="reset" color="warn">Cancel</button>
                  </div>
                  <div *ngIf="isPreview == true" class="ml-2 mr-2">
                    <button mat-stroked-button type="button" color="warn" (click)="onCancel()">Cancel</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 p-0">
      <div class="card m-1 shadow-sm bg-white">
        <div class="card-header">
          <h3>Preview</h3>
        </div>
        <div class="shadow-sm p-3 bg-white" style="min-width: 200px; height: 200px" (click)="openDetail(itemId)">
          <img class="preview-image" [src]="itemDefaultPhotoUrl == null ? noImagePhotoUrl : itemDefaultPhotoUrl" />
        </div>
      </div>
    </div>
  </div>
</div>
