<!-- <ng-template [ngIf]="isUserAuthenticated()" [ngIfElse]="notLoggedIn"> -->
<!-- <ng-template> -->
<div class="container-fluid">
  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Inventory</h1>

  <hr class="mt-1 mb-0" />

  <div class="search-result">
    <div *ngIf="!isSearched" class="row pt-5">
      <div *ngFor="let property of properties" class="shadow col-12 col-sm-6 col-md-4 col-lg-3 p-3">
        <app-post-card [isDetail]="false" [property]="property"></app-post-card>
      </div>
    </div>
    <div *ngIf="isSearched" class="row pt-5">
      <div *ngFor="let property of properties" class="shadow col-12 p-3">
        <app-post-card [isDetail]="true" [property]="property"></app-post-card>
      </div>
    </div>
  </div>
  <br /><br />
  <div *ngIf="notEmptyPost" class="col-md-12 d-flex justify-content-center">
    <button (click)="onClick()" type="button" class="btn btn-secondary">LOAD MORE</button>
  </div>

  <div *ngIf="!notEmptyPost" class="row pb-5">
    <div class="col-md-12 d-flex justify-content-center">
      <div class="text-muted h6 alert alert-secondary p-2">No more items to show</div>
    </div>
  </div>
</div>
<!-- </ng-template> -->

<!-- <ng-template #notLoggedIn>
  <div>
    <h2>Main screen</h2>
  </div>
  <div>
    Just show without Log in
  </div>
</ng-template> -->
