<div class="container mt-3">
  <div class="d-flex flex-row-reverse flex-wrap">
    <div class="col-md-3 p-0">
      <div class="card m-1 shadow-sm bg-white">
        <div class="card-header">
          <h3>Notification</h3>
        </div>
        <div class="shadow-sm p-3 bg-white">
          <app-notification-list></app-notification-list>
        </div>
      </div>
    </div>
    <div class="col-md-9 p-0 mb-3">
      <div class="card item-card shadow-sm bg-white m-1">
        <div class="card-header">
          <h3>My Borrows</h3>
        </div>
        <div class="card-body">
          <ul
            ngbNav
            #nav="ngbNav"
            [(activeId)]="active"
            [destroyOnHide]="false"
            (navChange)="onNavChange($event)"
            class="nav-tabs"
          >
            <!-- Borrowing list Start -->
            <li [ngbNavItem]="0">
              <a ngbNavLink>Requested</a>
              <ng-template ngbNavContent>
                <div class="input-group mt-3 mb-3">
                  <input
                    [(ngModel)]="NameFilter"
                    class="form-control"
                    style="background-color: rgb(252, 248, 251); border-color: rgb(218, 216, 216)"
                    (keyup)="Filter(0)"
                    placeholder="Filter by Name"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2"> <i class="fa fa-search fa-xs"></i></span>
                  </div>
                </div>

                <div class="row mb-3" *ngFor="let requestItemPkg of filteredRequestItemPkgs">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-12 col-sm-4 col-md-3 col-lg-3">
                            <img src="{{ requestItemPkg.item.defaultImageFile }}" />
                            <!-- <img [src]="requestItemPkg.item.defaultImageFile | authImg | async" /> -->
                          </div>
                          <div class="borrow col-12 col-sm-8 col-md-4 col-lg-6">
                            <h3 mb-3>{{ requestItemPkg.item.name }}</h3>
                            <h4 class="title">
                              Borrow from
                              <a class="text-primary" (click)="openOwnerDetails(requestItemPkg.item.userId)">{{
                                ownerNames[requestItemPkg.item.userId]
                              }}</a>
                            </h4>
                            <h4 class="date" mb-2>Request date: {{ formatDate(requestItemPkg.trans.requestDate) }}</h4>
                            <h4>
                              <span class="when">When: </span
                              ><span class="text-primary"
                                >{{ formatDate(requestItemPkg.trans.startDate) }} ~
                                {{ formatDate(requestItemPkg.trans.endDate) }}</span
                              >
                            </h4>
                          </div>
                          <div class="col-12 col-sm-12 col-md-5 col-lg-3">
                            <small> <span>Deposit: </span>{{ formatCurrency(requestItemPkg.trans.deposit) }} </small
                            ><br class="mb-1" />
                            <p>
                              <small><span>Total Fee: </span>{{ formatCurrency(requestItemPkg.trans.total) }}</small>
                            </p>
                            <p>
                              <span class="status">Status: </span>
                              <span class="statusName">{{ requestItemPkg.trans.statusName }}</span>
                            </p>
                            <button mat-stroked-button (click)="onCancelRequest(requestItemPkg.trans.id)" color="warn">
                              Cancel Request
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="notEmptyPost" class="col-md-12 d-flex justify-content-center">
                  <button (click)="onClick()" type="button" class="btn btn-secondary">LOAD MORE</button>
                </div>
              </ng-template>
            </li>
            <!-- Borrowing List End -->

            <!-- Borrowing list Start -->
            <li [ngbNavItem]="1">
              <a ngbNavLink>Borrowing</a>
              <ng-template ngbNavContent>
                <div class="input-group mt-3 mb-3">
                  <input
                    [(ngModel)]="NameFilter"
                    class="form-control"
                    style="background-color: rgb(252, 248, 251); border-color: rgb(218, 216, 216)"
                    (keyup)="Filter(1)"
                    placeholder="Filter by Name"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2"> <i class="fa fa-search fa-xs"></i></span>
                  </div>
                </div>

                <div class="row mb-3" *ngFor="let borrowingItemPkg of filteredBorrowingItemPkgs">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-12 col-sm-4 col-md-3 col-lg-3">
                            <img src="{{ borrowingItemPkg.item.defaultImageFile }}" />
                            <!-- <img [src]="borrowingItemPkg.item.defaultImageFile | authImg | async" /> -->
                          </div>
                          <div class="borrow col-12 col-sm-8 col-md-4 col-lg-6">
                            <h3 mb-2>{{ borrowingItemPkg.item.name }}</h3>
                            <h4 class="title">
                              Borrow from
                              <a class="text-primary" (click)="openOwnerDetails(borrowingItemPkg.item.userId)">{{
                                ownerNames[borrowingItemPkg.item.userId]
                              }}</a>
                            </h4>
                            <h4 class="date" mb-3>
                              Request date: {{ formatDate(borrowingItemPkg.trans.requestDate) }}
                            </h4>
                            <h4>
                              <span class="when">When: </span
                              ><span class="text-primary"
                                >{{ formatDate(borrowingItemPkg.trans.startDate) }} ~
                                {{ formatDate(borrowingItemPkg.trans.endDate) }}</span
                              >
                            </h4>
                            <h4 class="returnby">
                              Return by: {{ formatDate(borrowingItemPkg.trans.endDate) }}
                              <span *ngIf="dateDiffInDays(currentDate, borrowingItemPkg.trans.endDate) == 0"
                                >(today)
                              </span>
                              <span *ngIf="dateDiffInDays(currentDate, borrowingItemPkg.trans.endDate) < 0"
                                >(over)
                              </span>
                              <span *ngIf="dateDiffInDays(currentDate, borrowingItemPkg.trans.endDate) > 0"
                                >({{ dateDiffInDays(borrowingItemPkg.trans.endDate, currentDate) }})
                              </span>
                            </h4>
                          </div>
                          <div class="col-12 col-sm-12 col-md-5 col-lg-3">
                            <small> <span>Deposit: </span>{{ formatCurrency(borrowingItemPkg.trans.deposit) }} </small
                            ><br class="mb-1" />
                            <p>
                              <small><span>Total Fee: </span>{{ formatCurrency(borrowingItemPkg.trans.total) }}</small>
                            </p>
                            <p>
                              <span class="status">Status: </span>
                              <span class="statusName">{{ borrowingItemPkg.trans.statusName }}</span>
                            </p>
                            <button
                              *ngIf="!checkRequestReturn(borrowingItemPkg.trans.currentStatus)"
                              mat-stroked-button
                              (click)="onRequestReturn(borrowingItemPkg.trans.id)"
                              color="primary"
                            >
                              Request Return
                            </button>
                            <button
                              *ngIf="checkCancelBorrow(borrowingItemPkg)"
                              mat-stroked-button
                              (click)="onCancelReservation(borrowingItemPkg.trans.id)"
                              color="warn"
                            >
                              Cancel Borrow
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="notEmptyPost" class="col-md-12 d-flex justify-content-center">
                  <button (click)="onLoadMore()" type="button" class="btn btn-secondary">LOAD MORE</button>
                </div>
              </ng-template>
            </li>
            <!-- Borrowing List End -->

            <!-- completed Start -->
            <li [ngbNavItem]="2">
              <a ngbNavLink>Completed</a>
              <ng-template ngbNavContent>
                <div class="input-group mt-3 mb-3">
                  <input
                    [(ngModel)]="NameFilter"
                    class="form-control"
                    style="background-color: rgb(252, 248, 251); border-color: rgb(218, 216, 216)"
                    (keyup)="Filter(2)"
                    placeholder="Filter by Name"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2"> <i class="fa fa-search fa-xs"></i></span>
                  </div>
                </div>

                <div class="row mb-3" *ngFor="let compledtedItemPkg of filteredCompledtedItemPkgs">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-12 col-sm-4 col-md-3 col-lg-3">
                            <img src="{{ compledtedItemPkg.item.defaultImageFile }}" />
                            <!-- <img [src]="compledtedItemPkg.item.defaultImageFile | authImg | async" /> -->
                          </div>
                          <div class="borrow col-12 col-sm-8 col-md-4 col-lg-6">
                            <h3 mb-3>{{ compledtedItemPkg.item.name }}</h3>
                            <h4 class="title">
                              Borrow from
                              <a class="text-primary" (click)="openOwnerDetails(compledtedItemPkg.item.userId)">{{
                                ownerNames[compledtedItemPkg.item.userId]
                              }}</a>
                            </h4>
                            <h4 class="date" mb-3>
                              Request date: {{ formatDate(compledtedItemPkg.trans.requestDate) }}
                            </h4>
                            <h4>
                              <span class="when">When: </span
                              ><span class="text-primary"
                                >{{ formatDate(compledtedItemPkg.trans.startDate) }} ~
                                {{ formatDate(compledtedItemPkg.trans.endDate) }}</span
                              >
                            </h4>
                          </div>
                          <div class="col-12 col-sm-12 col-md-5 col-lg-3">
                            <small> <span>Deposit: </span>{{ formatCurrency(compledtedItemPkg.trans.deposit) }} </small
                            ><br class="mb-1" />
                            <p>
                              <small><span>Total Fee: </span>{{ formatCurrency(compledtedItemPkg.trans.total) }}</small>
                            </p>
                            <p *ngIf="compledtedItemPkg.trans.currentStatus === 7">
                              <small
                                ><span>Refund Deposit: </span
                                >{{ formatCurrency(compledtedItemPkg.trans.refundDeposit) }}</small
                              >
                            </p>
                            <p>
                              <span class="status">Status: </span>
                              <span class="statusName">{{ compledtedItemPkg.trans.statusName }}</span>
                            </p>
                            <p *ngIf="compledtedItemPkg.trans.reason" class="text-danger">
                              Reason: {{ compledtedItemPkg.trans.reason }}
                            </p>
                            <button
                              *ngIf="compledtedItemPkg.trans.currentStatus === 7"
                              mat-stroked-button
                              (click)="onSubmitReview(compledtedItemPkg)"
                              color="primary"
                            >
                              Review
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
            <!-- completed End -->

            <li ngbNavItem class="ml-auto">
              <a ngbNavLink routerLink="/my-list" style="color: rgb(197, 13, 13)">My Items</a>
            </li>
          </ul>

          <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
