<div class="content">
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-md-4">
                <div class="control-box p-3">
                    <h2>Account</h2>
                </div>
                <div class="control-box p-3 mt-3 sidebar">                  
                    <mat-selection-list #menu [multiple]="false">
                        <mat-list-option *ngFor="let menu of Menus" 
                        [selected]="menu == 'Account'" 
                        (click)="setMenu(menu)" 
                        [value]="menu">
                          {{menu}}
                        </mat-list-option>
                      </mat-selection-list>
                </div>                
                
            </div>
            <div class="col-md-8">
                <div class="control-box pl-3 control-box-t">
                    <p> {{loginUser.userName}}</p>
                    <h3> {{loginUser.userEmail}}</h3>
                </div>
                <div>
                    <ng-template [ngIf]="selectedMenu == 'Account'">
                        <app-user-details></app-user-details>
                    </ng-template>
                    <ng-template [ngIf]="selectedMenu == 'Password'">
                        <app-change-password [userEmail]="userEmail"></app-change-password>
                    </ng-template>
                    <ng-template [ngIf]="selectedMenu == 'Admin'">
                        <app-prsadmin [userEmail]="userEmail"></app-prsadmin>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>